@import url('https://fonts.googleapis.com/css?family=Duru+Sans&display=swap');

/* --- powered by wp --- */
#wpfooter {
    padding: 7px 20px;
    background: #373737;
}
#footer-upgrade,
#footer-left {
    font-size: 12px!important;
    color: #fff;
}
#footer-left a {
    color: #fff;
    text-decoration: none;
}
#footer-left a:hover,
#footer-left a:active,
#footer-left a:focus {
	color: #fff;
    text-decoration: underline;
}
#footer-left a.cmb {
    font-family: Dosis, sans-serif;
    font-size: 1.1em;
    font-weight: 300;
}
#footer-left a strong {
    color: #fff;
    font-weight: bold;
}
#footer-left a span {
    padding: 0 1px;
	color: #fed050;
}

.hdn {
    display: none;
}


/* gutenberg */

.admin-white .acf-block-preview * {
	color: #fff!important;
}


.hdn {
    display: none;
}

.hide {
	background: #border: 1px dashed #ccc;
	border: 1px dashed #ccc;
	opacity: .65;
}

.wp-block {
	width: 94%;
	max-width: 1100px!important;
}
.wp-block[data-align=full] {
	width: 100%;
	max-width: 100%!important;
}

.wp-block-group {
	border: 1px dashed #ccc;
	padding-left: 10px;
	padding-right: 10px;
}

.is-selected .wp-block-group,
.has-child-selected .wp-block-group {
	border-color: #00c1bd;
}
.wp-block[data-align="full"] {
	padding-left: 30px;
	padding-right: 30px;
}
.wp-block-kadence-rowlayout {
	padding-left: 40px;
	padding-right: 40px;
}

.acf-block-preview {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif!important;
}
.acf-block-preview a {
	text-decoration: none;
}

.block-admin-label {
	font-size: 11px!important;
	text-transform: uppercase;
	color: #555;
}
.block-admin-label span {
	display:  inline-block;
	padding: 2px 7px;
	background: #eaeaea;
}


.acf-block-preview .has-white-color {
	color: #ccc!important;
}

.cta-box {
	border: 1px solid #ccc;
	display: block;
}
.bg-cta-box.blue-gradient {
	background-color: #002f73;
}
.bg-cta-box.has-red-background-color {
	background-color: #dc0c2f;
}
.bg-cta-box.has-california-background-color {
	background-color: #f59d09;
}
.bg-cta-box.has-christi-background-color {
	background-color: #7e9929;
}
	
/* youtube player */
.acf-block-preview .yt-player .video-wrapper {
	display: none;
}	
.acf-block-preview .yt-player .video-content {
	background-size: cover;
}
.acf-block-preview .yt-player .yt-play {
	display: block;
	padding: 120px 0;
}
.acf-block-preview .yt-player .yt-play svg {
	display: block;
	width: 100px;
	height: 100px;
	transform: translate(-50%, 0);
	position: relative;
	left: 50%;
	top: 50%;
}

/* icon links */
.acf-block-preview .icon-links {
	margin: 5px 0;
}
.acf-block-preview .icon-link {
	display: block;
	text-align: center;
	text-transform: uppercase;
	border-bottom: 1px solid #efefef;
	padding: 30px 10px;
}

/* latest posts */
.acf-block-preview .latest-posts .post {
	display: block;
	margin: 0 0 10px 0;
	padding: 20px;
	border: 1px solid #efefef;
}
.acf-block-preview .latest-posts .post h3 {
	font-size: 18px;
	margin: 0;
	color: #72246c;
}
.acf-block-preview .latest-posts .post h3 a {
	color: #72246c;
}
.acf-block-preview .latest-posts .post p.meta {
	font-size: 14px;
	text-transform: uppercase;
	margin: 0 0 5px 0;
	color: #002d72;
}
.acf-block-preview .latest-posts .post p.meta strong {
	padding-right: 15px;
}

/* button */
div[data-title="Button"] {
	display: block;
	min-height: 30px;
}

.acf-block-preview .btn {
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	padding: 7px 25px 5px 25px;
	border: 2px solid;
}
.acf-block-preview .btn.style-col {
	color: #fff;
	background: #72246c;
	border-color: #72246c;
}
.acf-block-preview .btn.style-outline-col {
	color: #72246c;
	border-color: #72246c;
}
.acf-block-preview .btn.style-link-col {
	padding: 0;
	color: #72246c;
	background: transparent;
	border: none;
}
.acf-block-preview .btn.style-link-red {
	padding: 0;
	color: #d50032;
	background: transparent;
	border: none;
}
.acf-block-preview .btn.style-link-yellow {
	padding: 0;
	color: #ffa400;
	background: transparent;
	border: none;
}
.acf-block-preview .btn.style-link-green {
	padding: 0;
	color: #76BB63;
	background: transparent;
	border: none;
}
.acf-block-preview .btn.style-white {
	padding: 0;
	color: #fff;
	background: transparent;
	border: none;
}
.acf-block-preview .btn.large {
	font-size: 20px;
}

/* blue cta */
.acf-block-preview .blue-cta-box {
	padding: 0 !important;
	background: #002d72;
	background: -moz-linear-gradient(45deg, #004986 0%, #002d72 100%);
	background: -webkit-linear-gradient(45deg, #004986 0%, #002d72 100%);
	background: linear-gradient(45deg, #004986 0%, #002d72 100%);
}
.acf-block-preview .blue-cta-box .wrap {
	width: 90%;
	max-width: 1160px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 0 20px 0;
}
.acf-block-preview .blue-cta-box .bg {
	display: block;
	height: 300px;
	margin-top: -52px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.acf-block-preview .blue-cta-box .inner p {
	margin: 0 0 10px 0;
}

/* icon list */
.acf-block-preview .icon-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.acf-block-preview .icon-list li {
	margin: 0 0 30px 0;
	padding: 0 0 0 70px;
	position: relative;
}
.acf-block-preview .icon-list li:last-child {
	margin-bottom: 0;
}
.acf-block-preview .icon-list li:before {
	width: 1px;
	height: 100%;
	background: #194280;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 55px;
}
.acf-block-preview .icon-list li img {
	position: absolute;
	top: 0;
	left: 0;
}
.acf-block-preview .icon-list li h6 {
	margin: 0;
}
.acf-block-preview .icon-list li p {
	font-size: 16px;
	margin: 0;
}

.acf-block-preview .bg-cta-box.blue-gradient .icon-list li {
	color: #fff;
}

/* our brands */
.acf-block-preview .brands-carousel .slide {
	margin: 0 0 30px 0;
	padding: 20px;
	border: 1px solid #efefef;
}


/* brand titles */
.acf-block-preview .brand-title .brand-links {
	list-style: none;
	margin: 0;
	padding: 0;
}
.acf-block-preview .brand-title .brand-links li {
	margin: 0 0 10px 0;
	padding: 0;
}
.acf-block-preview .brand-title .brand-links .btn svg {
	margin: 0 0 -2px 9px;
}
.acf-block-preview .brand-title .brand-links .btn {
	padding: 18px 14px 16px 14px;
}
.acf-block-preview .brand-title .brand-links .btn.style-purple {
	color: #fff;
	background-color: #72246c;
	border: 2px solid #72246c;
}
.acf-block-preview .brand-title .brand-links .btn.style-purple-o {
	color: #72246c;
	background-color: transparent;
	border: 2px solid #72246c;
}
.acf-block-preview .brand-title .brand-links .btn.style-purple-o:link, 
.acf-block-preview .brand-title .brand-links .btn.style-purple-o:visited {
	color: #72246c;
}
.acf-block-preview .brand-title .brand-links .btn.style-purple-o path {
	stroke: #72246c;
}
.acf-block-preview .brand-title .brand-links .btn.style-green {
	color: #fff;
	background-color: #76BB63;
	border: 2px solid #76BB63;
}
.acf-block-preview .brand-title .brand-links .btn.style-green-o {
	color: #72246c;
	background-color: transparent;
	border: 2px solid #76BB63;
}
.acf-block-preview .brand-title .brand-links .btn.style-green-o:link, 
.acf-block-preview .brand-title .brand-links .btn.style-green-o:visited {
	color: #76BB63;
}
.acf-block-preview .brand-title .brand-links .btn.style-green-o path {
	stroke: #76BB63;
}
.acf-block-preview .brand-title .brand-links .btn.style-red {
	color: #fff;
	background-color: #d50032;
	border: 2px solid #d50032;
}
.acf-block-preview .brand-title .brand-links .btn.style-red-o {
	color: #72246c;
	background-color: transparent;
	border: 2px solid #d50032;
}
.acf-block-preview .brand-title .brand-links .btn.style-red-o:link, 
.acf-block-preview .brand-title .brand-links .btn.style-red-o:visited {
	color: #d50032;
}
.acf-block-preview .brand-title .brand-links .btn.style-red-o path {
	stroke: #d50032;
}

/* history */
.acf-block-preview .timeline .timeline-item {
	margin: 0 0 20px 0;
	padding: 26px 0 30px 115px;
	position: relative;
}
.acf-block-preview .timeline .timeline-item:before {
	content: "";
	display: block;
	width: 1px;
	background: #002d72;
	position: absolute;
	left: 45px;
	top: 110px;
	bottom: 0;
}
.acf-block-preview .timeline .timeline-year {
	width: 90px;
	height: 90px;
	font-family: "Nunito", sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 1;
	text-align: center;
	padding: 33px 0 0 0;
	color: #fff;
	background: #002d72;
	background: -moz-linear-gradient(45deg, #004986 0%, #002d72 100%);
	background: -webkit-linear-gradient(45deg, #004986 0%, #002d72 100%);
	background: linear-gradient(45deg, #004986 0%, #002d72 100%);
	border-radius: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.acf-block-preview .timeline .timeline-content img {
	margin-bottom: 0;
}

@media (min-width: 782px) {
	.acf-block-preview .timeline .timeline-year {
		left: calc(50% - 45px);
	}
	.acf-block-preview .timeline .timeline-item {
		padding-left: 0;
		overflow: hidden;
	}
	.acf-block-preview .timeline .timeline-item:before {
		left: 50%;
	}
	.acf-block-preview .timeline .timeline-item .timeline-year {
		left: calc(50% - 45px);
	}
	.acf-block-preview .timeline .timeline-item .timeline-title, 
	.acf-block-preview .timeline .timeline-item .timeline-content {
		width: 50%;
	}
	.acf-block-preview .timeline .timeline-item:nth-child(odd) .timeline-title {
		float: left;
		text-align: right;
		padding-right: 80px;
	}
	.acf-block-preview .timeline .timeline-item:nth-child(odd) .timeline-content {
		float: right;
		padding-left: 80px;
	}
	.acf-block-preview .timeline .timeline-item:nth-child(even) .timeline-content {
		float: left;
		text-align: right;
		padding-right: 80px;
	}
	.acf-block-preview .timeline .timeline-item:nth-child(even) .timeline-title {
		float: right;
		padding-left: 80px;
	}
}


/* why invest accordion */
.acf-block-preview .opportunities > .checklist {
	display: none;
}
.acf-block-preview .opportunities .opportunity-toggle {
	margin: 0 0 14px 0;
	padding: 16px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	-ms-flex-direction: row;
	-ms-flex-wrap: wrap;
	border: 1px solid #dfdfe0;
}
.acf-block-preview .opportunities .opportunity-toggle:hover .title h4 {
	color: #72246c;
}
.acf-block-preview .opportunities .opportunity-toggle .title {
	width: calc(100% - 198px);
	margin: 0 40px 0 0;
	padding: 0 40px 0 0;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.acf-block-preview .opportunities .opportunity-toggle .title > .title-wrap {
	width: 100%;
}
.acf-block-preview .opportunities .opportunity-toggle .title svg {
	position: absolute;
	top: calc(50% - 12px);
	right: 0;
	-webkit-transition: transform 0.2s ease-in-out;
	-moz-transition: transform 0.2s ease-in-out;
	-ms-transition: transform 0.2s ease-in-out;
	-o-transition: transform 0.2s ease-in-out;
	transition: transform 0.2s ease-in-out;
}
.acf-block-preview .opportunities .opportunity-toggle .title h4 {
	font-size: 20px;
	text-transform: uppercase;
	margin: 0;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}
.acf-block-preview .opportunities .opportunity-toggle .title p {
	font-family: "Metropolis-Light", sans-serif;
	font-size: 16px;
	line-height: 1.25;
	margin: 0;
}
.acf-block-preview .opportunities .opportunity-toggle .checklist {
	width: 158px;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.acf-block-preview .opportunities .opportunity-toggle .checklist li {
	float: left;
	width: 71px;
	height: 71px;
	margin: 0;
}
.acf-block-preview .opportunities .opportunity-toggle .checklist li.str {
	background-image: url(../../assets/images/icon-check.svg);
}
.acf-block-preview .opportunities .opportunity-toggle .checklist li.opp {
	background-image: url(../../assets/images/icon-oppo.svg);
}
.acf-block-preview .opportunities .opportunity-toggle .checklist li:before {
	display: none;
}
.acf-block-preview .opportunities .opportunity-toggle .checklist li + li {
	margin-left: 16px;
}


/* menus */
.nav-menus-php .item-type {
	opacity: 0;
}


























	
	
	
	
