*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	height: 100%;
	font-family: 'Duru Sans', sans-serif;
	font-size: 17px;
	margin: 0;
	padding: 0;
	color: #202431;
	background: rgb(30,87,153);
	background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(242,242,242,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(242,242,242,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(242,242,242,1) 0%,rgba(255,255,255,1) 100%);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
#login {
    width: 80%;
    max-width: 280px;
}
h1 {
    font-size: 2em;
    line-height: 1;
    font-weight: normal;
    text-indent: -9999px;
    margin: 0;
}
h1 a {
    display: block;
    text-decoration: none;
	margin: 0;
    padding: 20px 0;
	background: url(../../assets/images/inc/Brighter-IR-Logo.png) top left no-repeat;
	background-size: contain;
}
h2 {
	font-size: 18px;
	margin: 0 0 25px 0;
	color: #000;
}
label {
    display: block;
    font-size: 13px;
	text-transform: uppercase;
    color: #414042;
}
#password_protected_pass {
	width: 100%;
	font-family: 'Duru Sans', sans-serif;
	font-size: 17px;
	margin: 8px 0 0 0;
	padding: 8px 10px;
	background: #fff;
	border: 1px solid #bbbec1;
	transition: border 0.15s ease 0s;
	-webkit-appearance: none;
	border-radius: 0;
}
#password_protected_pass:active,
#password_protected_pass:focus {
	outline: none;
	border-color: #677077;
}
#wp-submit {
	width: 120px;
	font-family: 'Duru Sans', sans-serif;
	font-size: 13px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	padding: 7px 0;
	color: #fff;
	background: #46bfbd;
	border: 2px solid #46bfbd;
	cursor: pointer;
	transition: all 0.15s ease 0s;
	-webkit-appearance: none;
	border-radius: 50px;	
}
#wp-submit:hover,
#wp-submit:active,
#wp-submit:focus {
	color: #46bfbd;
    background: transparent;
}
.login.login-password-protected #login_error {
	font-size: 13px;
	font-weight: bold;
	padding: 8px 0 10px 0!important;
	color: #202431;
	background:none!important;
	border-top: 1px solid #c7c6c6!important;
	border-bottom: 1px solid #c7c6c6!important;
}
